nav {
  .navbar-header {
    display: flex;
    justify-content: center; /* Center the first element */
    align-items: center; /* Vertically center content */
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
    }
    button {
      margin-right: 0;
    }
    button:hover, .navbar-brand:hover {
      opacity: 0.8;
    }
  }
}
.dropdown-toggle::after {
  display: none !important;
}
#conversations-menu {
  position: relative;
  /* Make sure the conversations menu is centered */
  margin-left: auto; /* Optional: Push other items to the right */
  margin-right: auto; /* Optional: Ensure centering */
}
/* This will keep other elements on the right */
.pull-right {
  margin-left: auto;
}
.navbar-expand-lg, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
    background: $navbarColor !important;
    border: none;
    a {
      color: white !important;
    }
  }

  .pc-menu {
    margin-right: 10px;
  }
  
  .mobile-menu {
    i {
      color: white;
    }
    ul {
      padding: 0px;
    }
    a {
      display: block;
      padding: 10px 0px 10px 25px !important;
    }
    a:hover {
      background: white !important;
      color: black !important;
      i {
        color: black;
      }
    }
  }
  
  .icon-bar {
    background-color: white !important;
  }
  
  .active a {
    background: $navbarColor !important;
    border-bottom: solid 5px white;
  }
  
  .dropdown-toggle, .dropdown-menu {
    background: $navbarColor !important;
    border: none;
  }
  
  .dropdown-menu a:hover {
    color: black !important;
    background: white !important;
  }

  .brand-mobile {
    font-size: 20px;
    font-size: 2.0rem;
  }
  
  .navigation-items {
    position: absolute;
    top: 0;
    left: 50%;
  }
  
  .navbar-header {
    .open {
      width: 36px;
    }
  }
  
  .non-user-nav-links {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-right: 20px;
  }
  
  #conversations-menu, #contacts-requests {
    font-size: 20px;
    font-size: 2.0rem;
    height: 50px;
    line-height: 50px;
    padding-right: 10px;
  
    ul {
      margin: 0;
      position: relative;
      top: 50px;
      right: 200px;
      border-radius: 0 0 5px 5px;
      height: 300px;
      overflow: scroll;
      overflow-x: hidden;
      li {
        a {
          width: 100%;
        }
      }
    }
    .unseen-conv {
      a {
        background: $backgroundColor;
        color: black !important;
      }
    }
  }
  
  #unseen-conversations, #unresponded-contact-requests {
    visibility: hidden;
    padding: 1px;
    position: absolute;
    // color: white;
    font-size: 13px;
    font-size: 1.3rem;
  }
  
  #unseen-conversations {
    right: 5px;
    background: #E92F2F;
  }
  
  #conversations-menu {
    i {
      position: relative;
    }
  }
  
  #conversations-list {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    .col-sm-2 {
      padding: 0;
    }
  }

  #conversations-menu ul li {
    width: 100%; /* Ensure the li takes the full width */
    padding: 1px 2px; /* Adjust padding for the link */
  }
  
  #conversations-menu ul li a {
    display: block; /* Make the <a> take up the full width of the <li> */
    padding: 1px 0.5px; /* Adjust padding for the link */
  }
  
  #conversations-menu ul li:hover {
    background-color: white !important; /* Change the background color of the whole li on hover */
  }
  
  #conversations-menu ul li a:hover {
    color: black !important; /* Change the text color when the link is hovered */
  }
  
  #conversations-menu ul li a {
    color: white !important; /* Default text color */
  }
  
  