<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <!-- side-menu -->
    <%= render 'pages/index/side_menu' %>
    <!-- main-content -->
    <%= render 'pages/index/main_content' %>   

  </div><!-- row -->
</div><!-- container -->
